<li id="post-<%= post._id%>"> 
    <p>
        <!-- making check for checking if the user is sign in and the user who created that post -->
        <% if (locals.user && locals.user.id == post.user.id){ %>
         <small>
             <a class="delete-post-button" href="/posts/destroy/<%= post.id%>">X</a> 
            </small>
         <%}%>
        <%= post.content %> 
        <br>
        <small>
            <%= post.user.name %>  <!-- here we are reciving user data from home controller by populating  it -->
        </small>
     </p>

     
     <div class="post-comments">
         <% if(locals.user) { %>
            
             <form id="post-<%= post._id %>-comments-form" action="/comment/create" method="POST">
                 <input type="text" name="content" placeholder="add comments..." required>
                 <!-- sending the id of the post by hiding from the usrs-->
                 <input type="hidden" name="post" value="<%= post._id %>">
                 <input type="submit" value="Add comments">
             </form>
         <% } %>
     </div>
     <div class="post-comments-list">
         <ul id="post-comments-<%=post._id %>">
             <% for(comment of post.comments) {%>
                <%- include('_comment') -%>     
            <% } %>   
        </ul>
     </div>


 </li> 